@import "vars.css";
@import "navigation_nav.css";
@import "anim.css";

*{
  transition: background-color 1s ease, color 1s ease;
}

body{
    background-image: var(--bg-svg);
    background-repeat: no-repeat;
    background-color: var(--bg-color);
    
}

a,p {
  text-decoration: none;
  font-size: 1em;
}



.page-title {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  padding: 40px;
  background: var(--title-color);
  font-size: var(--title-text);
  color: var(--bg-color);
  text-align: center;
  margin-top: 0px;
  border-radius: 0px 0px 25px 25px;
  -moz-border-radius: 0px 0px 25px 25px;
  -webkit-border-radius: 0px 0px 25px 25px;
  margin-inline: auto;
  font-weight: bold;
  text-transform: uppercase;
  margin-inline: var(--page-margin);
}
a.button-set.button-back {
    font-size: 1rem;
    color: var(--bg-color);

}
.buttons {
    padding-top: var(--button-margin);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.button-alert, .button-danger, .button-set{
  border-radius: 10px;
  background-color: transparent;
  margin-left: 10px;
  font-weight: bold;
  padding: var(--button-margin);
  box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.5);
  color: var(--txt-color);
  transition: all 200ms;
  -webkit-transition: all 200ms;
}

.button-alert{
  border: 2px solid var(--alert-color);
}

.button-alert:hover, .button-alert:focus{
  box-shadow: 0px 5px 5px var(--alert-color);
  transform: translateY(-0.5em);
}


.button-set{
  border: 2px solid var(--set-color);
}

.button-set:hover, .button-set:focus{
  box-shadow: 0px 5px 5px var(--set-color);
  transform: translateY(-0.5em);
}

.button-danger{
  border: 2px solid var(--danger-color);
}

.button-danger:hover, .button-danger:focus{
  box-shadow: 0px 5px 5px var(--danger-color);
  transform: translateY(-0.5em);
}

.button-back {
    position: relative;
    width: max-content;
}

.btn-text{
  font-family: Nunito, sans-serif;
  color:var(--txt-color);
  font-weight: bold;
  padding-right: 10px;
}

.normal-text {
  font-size: var(--pa-text);
  margin: 2%;
  color: var(--txt-color);
}

.input {
  border: 2px solid var(--primary-Color);
  border-radius: 5px;
  padding: 9px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: -webkit-fill-available;
  background-color: var(--input-bgColor)
}



.Alerta_sucesso {
  padding: 12px;
  background: var(--set-color);
  box-shadow: 0px 0px 15px var(--set-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Alerta_sucesso button{
    border-radius: 10px;
    padding: 8px;
    background-color:  var(--witcher);
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.5);
    border: none;
    margin-left: 10px;
}



.Alerta_erro .content{
  width: auto !important;
}
.Alerta_erro .page-title{
    border: 2px solid red;
    padding: 20px;
    margin-inline: auto;
    font-weight: bold;
    box-shadow: red 0px 0px 10px;
}

.Alerta_erro button {
  float: right;
  margin-top: 20px;
}

.vertical-content {
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5%;

}

.vertical-content .content{
  padding: var(--page-margin);
}

.horizontal-content {
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 5%;

}

.column-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-inline: auto;
}

.fullScreen_content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  /* padding-top: 100px; */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: var(--title-color);
  backdrop-filter: blur(10px);
}

.column-content .content {
    width: 39vw;
    position: relative;
    height: auto;
    max-height: 500px;
}

.column-content .buttons {
  display: flex;
  justify-content: flex-end;
  
}

.comment-content {
    display: flex;
    flex-direction: row;
    width: 80vw;
    background-color: var(--box-backgroud);
    margin: var(--page-margin)
}

.comment-content .vertical-content {
    margin: 0;
    border-right: dotted 3px var(--primary-Color);
    padding: 2%;
    min-width: 15vw;
}

.content{
  border-radius: 15px;
  background: var(--box-bg);
  box-shadow: hsl(0deg 0% 0% / 22%) 13px 30px 41px -8px;
  margin: var(--page-margin) ;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--box-backgroud);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}


#file-form{
  display: none;
}


/* logo pick */

.logo-pick {
  display: flex;
  justify-content: center;
  position: relative;
}

.logo-pick:hover .overlay{
  width: 155px;
  border-radius: 81px ;
}

.logo-pick img{
  height: 150px;
  border-radius: 81px;
}

.logo-pick .overlay{
  left: unset;
  right: unset;
}

.logo-pick .overlay .img img {
    position: relative;
    width: 80%;
    height: 80%;
    margin-inline: 10%;
    margin-block: 13%;
    border-radius: 0px;
}

input#post_pic{
  max-width: 84vw;
}

form.pesquisa {
  display: flex;
  max-width: 300px;
  margin-left: auto;
  padding: 2%;
}


  @media screen and (max-width: 900px) {
    .horizontal-content, .vertical-content, .comment-content{
      display: flex;
      flex-direction: column !important; 
      min-width: 250px;
    }
    
    .column-content .content{
      padding-bottom: 35px;
      width: 95vw;
      margin-inline: 5px;
      max-height: unset;
    }

    .comment-content .vertical-content{
      border-right: none !important;
      border-bottom: dotted 3px var(--primary-Color);

    }

    .column-content .buttons {
      position: unset;
      bottom: unset;
      right: unset;
    }
    .content{
      padding-inline: 1%;
    }

    .page-title {
      padding: 20px;
      width: auto;
      grid-template-columns: auto;
      justify-items: center;
    }

    .dashboard img{
      height: 150px !important;
      width: 150px;
      margin-top:20px;
      margin-bottom:20px;
    }
     .buttons{
      display: grid;
      min-width: 200px;
      text-align: center;
      width: 20%;
      min-height: 10%;
      margin: auto;
      padding-top: 20px ;
    }
    .buttons a{
      margin-bottom: 10%;
    }
    .button-back {
      margin-bottom: var(--page-margin);
      
    }
    .profile-card {
      flex-direction: column !important;
    }

  }