@import "vars.css";
@import "navigation_nav.css";

body{
    background-image: var(--bg-svg);
    background-repeat: no-repeat;
    background-color: var(--bg-color);
}

a,p {
  text-decoration: none;
  font-size: 1em;
}

.post-safe{

  overflow: hidden;
}
.post-safe p{
  font-size: 1.6em;
  
}

.buttons{
  padding-top: 20px ;
}

.page-title {
  /* width: fit-content; */
  padding: 60px;
  /* border-radius: 15px; */
  background: rgb(51 162 228 / 73%);
  /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); */
  /* margin-top: 35px; */
  /* margin-inline: auto; */
  font-size: var(--title-text);
  /* animation: var(--anim-name) 2s linear, bouncing 1s ease-in-out alternate infinite; */
  text-align-last: center;
}

.button-alert{
    border-radius: 10px;
    padding: 8px;
    background-color:  var(--alert-color);
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.5);
    border: none;
    margin-left: 10px;
    color: var(--txt-color);
    font-weight: bold;
    padding: 15px;
    
}

.button-set{
  border-radius: 10px;
  padding: 8px;
  background-color:  var(--set-color);
  box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.5);
  border: none;
  margin-left: 10px;
  color: var(--txt-color);
  font-weight: bold;
  padding: 15px;
}

.button-danger{
    border-radius: 10px;
    padding: 8px;
    background-color:  var(--danger-color);
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.5);
    border: none;
    margin-left: 10px;
    color: var(--txt-color);
    font-weight: bold;
    padding: 15px;
}

.btn-text{
  font-family: Nunito, sans-serif;
  color:var(--txt-color);
  font-weight: bold;
  padding-right: 10px;
}

.normal-text {
  font-size: var(--pa-text);
  margin: 10px;
}

.input {
  border: 2px #6abbebde solid;
  border-radius: 5px;
  padding: 9px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: -webkit-fill-available;
}


.Posts{
  align-items: stretch;
}


.Alerta_sucesso {
  padding: 12px;
  background: rgb(77 190 118);
  box-shadow: 20px 20px 50px rgb(33 154 59);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Alerta_sucesso button{
    border-radius: 10px;
    padding: 8px;
    background-color:  var(--witcher);
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.5);
    border: none;
    margin-left: 10px;
}



.Alerta_erro .content{
  width: auto !important;
}
.Alerta_erro .page-title{
    border: 2px solid red;
    padding: 20px;
    background-color: darkgrey !important;
    width: min-content;
    margin-inline: auto;
    font-weight: bold;
}

.Alerta_erro button {
  float: right;
  margin-top: 20px;
}

.vertical-content {
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5%;
  width: auto !important;
}

.horizontal-content {
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 5%;
  width: auto !important;
}

.column-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-inline: auto;
}

.fullScreen_content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  /* padding-top: 100px; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(26 26 26 / 90%);
  backdrop-filter: blur(10px);
}

.column-content .content{
  width: 39vw;
  margin-inline: 15px;
  padding-bottom: 80px;
  position: relative;
  height: auto;
  max-height: 500px;
}

.column-content .buttons {
  padding-top: 20px;
  /* display: block; */
  position: absolute;
  bottom: 26px;
  right: 26px;
  
}

.post-content {
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align-last: center;
  margin-inline: auto;
}
  






.content{
  padding: 30px;
  border-radius: 15px;
  background: var(--box-backgroud);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  width: 95%;
  margin-bottom: 35px;
}




 .dashboard img{
  display: inline-flex;
  height: 18vw;
  max-height: 300px;
  
}

.dashboard{
  max-width: 1000px;
  margin-inline: auto;
}

 /* Animações*/

 @keyframes bouncing {
    to{
      transform: translateY(6px);
    }
    
  }
  
  @keyframes bg-moving {
    from{
      background-position-x: 0%;
      background-size: 185vh;
    }
    to{
      background-position-x: 50%;
      background-size: 235vh;
    }
  }
  
  @keyframes bg-darkmode {
    from{
      background-position-x: 0%;
      background-size: 185vh;
    }
    to{
      background-position-x: 50%;
      background-size: 235vh;
    }
  }
  
  
  @keyframes fade-in {
    from {
      opacity:  0;
    }
  
    to{
      opacity: 1;
    }
    
  }
  
  @keyframes darkmode {
    from{
      opacity:  0;
      background-color: var(--box-backgroud);
    }
    to{
      opacity: 1;
      background-color: var(--box-backgroud);
    }
  }
  

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  


/* ----------------------------------------------
 * Generated by Animista on 2022-9-12 21:33:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}



  .zoom-in {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  

  .zoom-out {  
    animation-name: zoom;
    animation-duration: 0.6s;
    animation-direction: alternate;
  }
  
 
  .fade-in {
    animation: var(--anim-name) 1s linear; 
  }

  .bouncing {
    animation: bouncing 1s linear; 
  }

  .slide-in-blurred-top {
    -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  }


  @media screen and (max-width: 900px) {
    .horizontal-content, .vertical-content{
      display: flex;
      flex-direction: column !important; 
      min-width: 250px;
    }

    .column-content .content{
      padding-bottom: 35px;
      width: 95vw;
      margin-inline: 5px;
      max-height: unset;
    }

    .column-content .buttons {
      position: unset;
      bottom: unset;
      right: unset;
    }
    .content{
      padding-inline: 1%;
    }



    .dashboard img{
      height: 150px;
      width: 150px;
      margin-top:20px;
      margin-bottom:20px;
    }
     .buttons{
      display: grid;
      min-width: 200px;
      text-align: center;
      width: 20%;
      min-height: 10%;
      margin: auto;
      padding-top: 20px ;
    }
    .buttons a{
      padding-block: 7%;
    }
  .web-tools, .web-tools FORM  {
    flex-direction: column !important;
  }
  .profile-card {
    flex-direction: column !important;
  }

  }


.web-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: var(--page-margin);
    margin-top: 20px;
}

/* DarkMode */
.darkMode, .web-tools FORM {
  display: flex;
  flex-direction: row;
  align-items: center;
}
  
.darkMode p{
  font-family: Nunito, sans-serif;
  color:var(--txt-color);
  font-weight: bold;
  padding-left: 10px;
 
}

/* Switch*/

#switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--witcher);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.profile-card {
  display: flex;
  flex-direction: row;
  border: 0;
  border-top: 3px;
  padding-top: 30px;
  border-style: solid;
  border-color: floralwhite;
  width: fit-content;
  margin-block: 40px;
  
}


.profile-card img{
  max-width: 200px;
}


.post_pic {
  display: block;
  max-width: 100%;
  max-height: 200px;
  margin-inline: auto;
  overflow: hidden;
}

.posts-title{
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  color: unset;
  margin-bottom: 20px;
}

.galery-img {
  position: relative;
  background-color: #ffffffba;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}
.galery-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galery-img:hover  img  {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  opacity: 0.4;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.galery-img:hover .overlay {
  width: 100%;
}



.text-overlay{
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


#file-form{
  display: none;
}

.logo-pick {
  display: flex;
  justify-content: center;
  position: relative;
}

.logo-pick:hover .overlay{
  width: 155px;
  border-radius: 81px ;
}

.logo-pick img{
  width: 150px;
  border-radius: 81px;
}

.logo-pick .overlay{
  left: unset;
  right: unset;
}
.logo-pick .overlay .img{
  width: 60%;
}

.logo-pick .overlay .img img {
  display: block;
  width: 100px;
  margin-inline: 25px;
  margin-top: 25px;
}

form.pesquisa {
  display: flex;
  max-width: 300px;
  margin-left: auto;
  padding: 2%;
}




#loadingScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 9999999;
  background: black;
}


.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}