@import "anim.css";
body{
    margin: 0;
}


header{
    background-color: var(--box-backgroud);
    text-align: center;
    position: relative;
    display: inline-block;
    z-index: 99;
    width: 100%;
}

button#darkMode-toggle{
    background: none;
    border: none;
    position: absolute;
    left: 20px;
    top: 20px;
    margin-block: auto;
}

#nav-toggle{
    position: absolute;
    top: 20px;
    right: 20px;
    margin-left: 1em;
    height: 40px;
    z-index: 2;
    border: 0;
    background: none;
}


#nav-toggle img{
    height: 100%;
}

nav {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 75%; 
    right: 0;
    top: 0;
    height: 100vh;
    background-color: hsla(202, 51%, 61%, 0.897);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;

}

nav a{
    color: var(--txt-color);
    text-decoration: none;
    font-size: .98rem;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover{
    color: #1f7e77;

}
/*
@supports (backdrop-filter: blur(1rem)){
    nav{
        background-color: hsl(202, 51%, 61% / 0.431);
        backdrop-filter: blur(1rem);
    }
}
*/
@media screen and (min-width: 900px) {
    #nav-toggle{
        display: none;
    }

    header {
        display: grid;
        
    }
    .logo{
        grid-column: 1 /2 ;
        
    }
    nav {
        all: unset;
        grid-column: 3 / 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 2.46%;
        display: flex !important;
        transform: matrix(0,0,0)!important;
    }
    nav ul{
        display: flex;
        justify-content: flex-end;
    }
    nav a {
        opacity: 1;
    }
    nav li{
        margin: 0;
        margin-left: 1rem;
    }
}