:root {
    --bg-svg : url();
    /* COLORS*/
    --bg-color: hsl(190deg 17% 62%);
    --header-color: hsl(190deg 28% 75%);
    --title-color : hsl(190deg 21% 69%);
    --txt-color: hsl(210, 7%, 12%);
    --box-backgroud : hsl(191deg 22% 59%);
    --danger-color: hsl(21, 65%, 47%);
    --set-color: hsl(96, 65%, 47%);
    --alert-color: hsl(64, 65%, 47%);
    --witcher : hsl(182, 65%, 47%);
    --input-bgColor : hsl(0, 0%, 99%);
    --primary-Color : hsl(180deg 62% 20%);
    /* Textos*/
    --pa-text:1.5rem;
    --title-text : 1.8rem;
    /* spaces */
    --page-margin : 3%;
    --item-margin : 20%;
    --button-margin : 1rem;


    --anim-name : fade-in;
    --bg-name : bg-moving;
  }
  
  
  
  .darkMode{
    --bg-svg : url();
    /* COLORS*/
    --bg-color: hsl(220deg 100% 5%); 
    --header-color: hsl(224deg 14% 10%);
    --title-color : hsl(224deg 14% 13% / 97%);
    --txt-color: hsl(0, 0%, 82%);
    --box-backgroud : hsl(224deg 14% 13% / 97%);
    --danger-color: hsl(21, 65%, 46%);
    --set-color: hsl(96, 65%, 46%);
    --alert-color: hsl(64, 65%, 46%);
    --witcher : hsl(182, 65%, 47%);
    --input-bgColor : hsl(180, 1%, 19%);
    --primary-Color : hsl(180deg 62% 39%);
  }

