{% extends 'base.html' %}

{% block head %}

{% block title %} <title>Index!</title> {% endblock %}
<!-- Our CSS-->
{% block css %}
{% endblock %}

{% endblock %}

{% block content %}


<a href="{{ url_for('Posts_BP.posts') }}" class="button-set">Back</a>

<div class="content horizontal-content fade-in ">
    <a href="{{ url_for('System_BP.gallery')}}" class="button-set">Gallery</a>
    <a href="{{ url_for('System_BP.gallery')}}" class="button-set">Gallery</a>
    <a href="{{ url_for('System_BP.gallery')}}" class="button-set">Gallery</a>
    <a href="{{ url_for('System_BP.gallery')}}" class="button-set">Gallery</a>
</div>

<div class="content vertical-content fade-in ">
    <h1>Here more admin stuff</h1>
</div>

{% endblock %}