<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}  
      {% block title %} <title>Flasker !</title> {% endblock %}
      {% block css %} {% endblock %}
    {% endblock %}

  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="web-tools">
      
      <div class="darkMode">
        <label id="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
          <p>DarkMode</p>
      </div>

      <form method = "Post" action = "{{ url_for('Posts_BP.search')}}">
        <input class="input" type="search" name = "searched" placeholder="Search" aria-label="Search"> 
        <button class="button-set" type="submit">Search</button> 
      </form> 
      </div>
        {% block content %}
        
        {% endblock %}
  </body>
</html>