{% extends 'base.html' %}

{% block head %}

{% block title %} <title>Index!</title> {% endblock %}
<!-- Our CSS-->
{% block css %}

<style>
    .galery-img {
        position: relative;
        background-color: #ffffffba;
        margin: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 200px;
    }

    .galery-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .galery-img:hover img {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        opacity: 0.4;
    }

    .galery-img:hover .overlay {
        width: 100%;
    }

    .posts-title {
        display: flex;
        justify-content: center;
        font-size: 1.2em;
        font-weight: bold;
        color: unset;
        margin-bottom: 20px;
    }
</style>
{% endblock %}
<style>
    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    a#Fechar {
        position: absolute;
        right: 0px;
        top: -10px;
        background-color: #c45f2a;
        /* border: 1px; */
        padding: 6%;
        border-radius: 130%;
        max-width: 8px;
        max-height: 16px;
    }
</style>

{% endblock %}

{% block content %}



<a href="{{ url_for('System_BP.admin') }}" class="button-set">Back</a>
<div class="content horizontal-content fade-in ">
    <input type="file" id="add-imgs" name="avatar" accept="image/png, image/jpeg" style="display:none">
    <label for="add-imgs" class="add-img-label">
        <span>
            <p class="button-set" onclick="{{ url_for('System_BP.addImg') }}">Adicionar imagem</p>
        </span>
    </label>


</div>


<div class="content fade-in" style="margin-inline: auto;">
    <p class="posts-title"> Pastas</p>
    <div class="horizontal-content" style="margin: 0;">

        {% for folder in folders %}
        <a href="{{ url_for('System_BP.gallery',folder = folder) }}" class="button-set">{{folder}} </a>
        {% endfor %}
    </div>
</div>
<div class="column-content content Modal">
    {% for img in imagens %}
    <div class="galery-img" onclick="test('/static/images/{{folder}}/{{img}}')">
        <img src="/static/images/{{folder}}/{{img}}" class="img-Thumbnail">
        <a href="{{ url_for('System_BP.removeImg', img = img )}}" id="Fechar">x</a>
    </div>
    {% endfor %}
</div>

<div id="myModal" class="fullScreen_content slide-in-blurred-top" style="display: none;">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption" class="normal-text"></div>
</div>

<script>
    var modal = document.getElementById("myModal");
    var captionText = document.getElementById("caption");
    test = function (id) {
        var img_get = document.getElementById('img01')
        modal.style.display = "flex"
        captionText.innerHTML = id;

        img_get.src = id;
        captionText.innerHTML = "<b>Caminho: </b>" + id;
    }
    var span = document.getElementsByClassName("close")[0];
    span.onclick = function () {

        modal.style.display = "none";
    }

</script>

{% endblock %}