{% extends 'base.html' %}

{% block head %}
    
    {% block title %} <title>Index!</title> {% endblock %}
    <!-- Our CSS-->
    {% block css %}<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> {% endblock %}

{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}
<p class="page-title"> Preencha todos os dados para se Registar</p>
    <div class="form-content">
    <div class="vertical-content content fade-in" style="width: fit-content!important; margin:auto">
        <div >
            <form method="post" id="form" >
                {{ form.hidden_tag() }}
                {{ form.name.label(class="normal-text") }}
                {{ form.name(class="input normal-text") }}
                <br />
                {{ form.username.label(class="normal-text") }}
                {{ form.username(class="input normal-text") }}
                <br />
                {{ form.email.label(class="normal-text") }}
                {{ form.email(class="input normal-text") }}
                <br />
                {{ form.favorite_color.label(class="normal-text") }}
                {{ form.favorite_color(class="input normal-text") }}
                <br />
                {{ form.password_hash.label(class="normal-text") }}
                {{ form.password_hash(class="input normal-text") }}
                <br />
                {{ form.password_hash2.label(class="normal-text") }}
                {{ form.password_hash2(class="input normal-text") }}
                <br />
                {{form.submit(class="button-set normal-text") }}


            </form>
        </div>
    </div>    
{% endblock %}