{% extends 'base.html' %}

{% block head %}

{% block title %} <title>Index!</title> {% endblock %}
<!-- Our CSS-->
{% block css %}
{% endblock %}

{% endblock %}
{% block backButton %}<a href="{{ url_for('Posts_BP.Blog') }}" class="button-set button-back">Pagina Inicial</a>{%
endblock %}
{% block content %}
e
<div class="vertical-content fade-in content">
    <form method="post" id="form" accept=".jpg, .jpeg, .png" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <!-- Campo de Formulário da Imagem do utilizador com label -->
        {{ form.profile_pic(id="file-form", value=form.profile_pic.filename) }}
        <label for="file-form" class="file-form-label">
            <span>
                <div class="logo-pick">
                    <!-- A Imagem atualiza quando o utilizador muda a imagem, pelo ficheiro JS file-input.js -->
                    <img src="{{ url_for('static', filename='images/System/default_profile_pic.svg')}}" />

                    <!-- Quando o Rato passa por cima, aparece um icon de adicionar -->
                    <div class="overlay">
                        <div class="img"><img src="/static/images/System/add_profile.svg" /></div>
                    </div>
                </div>
            </span>
        </label>


        {{ form.name.label(class="normal-text") }}
        {{ form.name(class="input normal-text") }}
        <br />
        {{ form.username.label(class="normal-text") }}
        {{ form.username(class="input normal-text") }}
        <br />
        {{ form.email.label(class="normal-text") }}
        {{ form.email(class="input normal-text") }}
        <br />
        {{ form.password_hash.label(class="normal-text") }}
        {{ form.password_hash(class="input normal-text") }}
        <br />
        {{ form.password_hash2.label(class="normal-text") }}
        {{ form.password_hash2(class="input normal-text") }}
        <br />
        {{form.submit(class="button-set normal-text") }}


    </form>
</div>

<!-- Script que atualiza a imagem de utilizador -->
<script src="/static/js/file-input.js"></script>
{% endblock %}