{% extends 'base.html' %}

{% block head %}

{% block title %} <title>Index!</title> {% endblock %}
<!-- Our CSS-->
{% block css %}
<style>
  .dashboard img {
    display: inline-flex;
    height: 18vw;
    max-height: 300px;
    border-radius: 62px;
  }

  .dashboard {
    max-width: 50vw;
  }

  .content.horizontal-content.dashboard.fade-in {
    margin-inline: auto;
  }
</style>
{% endblock %}

{% endblock %}
{% block backButton %}<a href="{{ url_for('Posts_BP.Blog') }}" class="button-set button-back">Pagina Inicial</a>{%
endblock %}

{% block content %}


<div class="content horizontal-content dashboard fade-in ">

  <!-- Verifica se o utilizador tem a imagem padrão-->
  {% if current_user.profile_pic == "default" %}
  <img src="{{ url_for('static', filename='images/System/default_profile_pic.svg')}}" />

  {% else %}
  <img src="{{ url_for('static', filename='images/Users/' + current_user.profile_pic )}}" />
  {% endif %}


  <div class="dashboard-card">
    <p class="normal-text">
      <b>Name:</b> {{ current_user.name}} <br>
      <b>Username:</b> {{ current_user.username}} <br>
      <b>User id:</b> {{ current_user.id }}<br>
      <b>Email: </b>{{ current_user.email }} <br>
      <b>About Author: </b> {{ current_user.about_author}} <br>
      <b>Date joined: </b> {{ current_user.date_added }} <br>
    </p>
    <p class="buttons">
      <a href="{{url_for('Users_BP.logout')}}" class="button-set">Logout</a>
      <a href="{{url_for('Users_BP.atualizarUtilizador', id=current_user.id)}}" class="button-alert">Edit</a>
      <a href="{{ url_for('Users_BP.apagarUtilizador', id=current_user.id)}}" class="button-danger">Delete</a>
    </p>
  </div>

</div>



{% endblock %}