{% extends 'base.html' %}

{% block head %}
    
    {% block title %} <title>Index!</title> {% endblock %}
    <!-- Our CSS-->
    {% block css %}<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> {% endblock %}

{% endblock %}


{% block content %}

<script src="/static/js/myfile.js"></script>
{% for message in get_flashed_messages() %}
<div class="Alerta fade-in" role="alert">
    {{message}}
    <button onclick="delete_message()" type="button" aria-label="Close">X</button> 
</div>      
{% endfor %}

    
    <p class="page-title">Dashboard</p> 
    <div class="content horizontal-content dashboard fade-in ">
      {% if current_user.profile_pic %}
      <img src="{{ url_for('static', filename='images/' + current_user.profile_pic )}}"  />  
    {% else %}
      <img src="{{ url_for('static', filename='images/default_profile_pic.png')}}"  />    
    {% endif %}
           
        <div class="dashboard-card">
          <p class="normal-text">
            <b>Name:</b> {{ current_user.name}} <br>
            <b>Username:</b> {{ current_user.username}} <br>
            <b>User id:</b> {{ current_user.id }}<br>
            <b>Email: </b>{{ current_user.email }} <br>
            <b>Favorite Color:</b> {{ current_user.favorite_color }} <br>
            <b>About Author: </b> {{ current_user.about_author}} <br>
            <b>Date joined: </b> {{ current_user.date_added }} <br></p>
            <p class="buttons">
          <a href="{{url_for('Users_BP.logout')}}" class="button-set">Logout</a>
          <a href="{{url_for('Users_BP.update', id=current_user.id)}}" class="button-alert">Edit</a>
          <a href="{{ url_for('Users_BP.delete', id=current_user.id)}}" class="button-danger">Delete</a>
          </p>
        </div>
        
      </div>

    
        
{% endblock %}