{% extends 'base.html' %}

{% block head %}

{% block title %} <title>Index!</title> {% endblock %}
<!-- Our CSS-->
{% block css %}
<style>
  .dashboard img {
    display: inline-flex;
    height: 18vw;
    max-height: 300px;
  }

  .dashboard {
    max-width: 1000px;
    margin-inline: auto;
  }
</style>
{% endblock %}

{% endblock %}


{% block content %}

<a href="{{ url_for('Posts_BP.posts') }}" class="button-set">Back</a>
<div class="content horizontal-content dashboard fade-in ">
  {% if current_user.profile_pic %}
  <img src="{{ url_for('static', filename='images/' + current_user.profile_pic )}}" />
  {% else %}
  <img src="{{ url_for('static', filename='images/default_profile_pic.svg')}}" />
  {% endif %}

  <div class="dashboard-card">
    <p class="normal-text">
      <b>Name:</b> {{ current_user.name}} <br>
      <b>Username:</b> {{ current_user.username}} <br>
      <b>User id:</b> {{ current_user.id }}<br>
      <b>Email: </b>{{ current_user.email }} <br>
      <b>Favorite Color:</b> {{ current_user.favorite_color }} <br>
      <b>About Author: </b> {{ current_user.about_author}} <br>
      <b>Date joined: </b> {{ current_user.date_added }} <br>
    </p>
    <p class="buttons">
      <a href="{{url_for('Users_BP.logout')}}" class="button-set">Logout</a>
      <a href="{{url_for('Users_BP.update', id=current_user.id)}}" class="button-alert">Edit</a>
      <a href="{{ url_for('Users_BP.delete', id=current_user.id)}}" class="button-danger">Delete</a>
    </p>
  </div>

</div>



{% endblock %}