{% extends 'base.html' %}

{% block head %}

{% block title %} <title>Index!</title> {% endblock %}
<!-- Our CSS-->
{% block css %}
{% endblock %}

{% endblock %}

{% block content %}

<div class="vertical-content content fade-in">
    <form method="post" id="form">
        {{ form.hidden_tag() }}
        {{ form.username.label(class="normal-text") }}
        {{ form.username(class="input normal-text") }}
        <br>
        {{ form.password.label(class="normal-text") }}
        {{ form.password(class="input normal-text") }}
        <br>
        {{form.submit(class="button-set normal-text") }}


    </form>
</div>
{% endblock %}