{% extends 'base.html' %}

{% block head %}

{% block title %} <title>Index!</title> {% endblock %}
<!-- Our CSS-->
{% block css %}
{% endblock %}

{% endblock %}
{% block backButton %}<a href="{{ url_for('Posts_BP.Blog') }}" class="button-set button-back">Pagina Inicial</a>{%
endblock %}
{% block content %}

<div class="vertical-content fade-in" style="width: fit-content!important; margin:auto">
    <form method="post" accept=".jpg, .jpeg, .png" enctype="multipart/form-data" class="content">
        {{ form.hidden_tag() }}
        {{ form.profile_pic(id="file-form", value=name_to_update.profile_pic.filename) }}

        <label for="file-form" class="file-form-label">
            <span>
                <div class="logo-pick">
                    {% if name_to_update.profile_pic == "default" %}
                    <img src="{{ url_for('static', filename='images/System/default_profile_pic.svg')}}" />
                    {% else %}
                    <img src="{{ url_for('static', filename='images/Users/' + current_user.profile_pic)}}" />
                    {% endif %}
                    <div class="overlay">
                        <div class="img"><img src="/static/images/System/icon_mudar.svg" /></div>
                    </div>
                </div>
            </span>
        </label>

        <br />
        {{ form.name.label(class="normal-text") }}
        {{ form.name(class="input normal-text", value=name_to_update.name) }}
        <br />
        {{ form.email.label(class="normal-text") }}
        {{ form.email(class="input normal-text", value=name_to_update.email) }}
        <br />
        {{ form.about_author.label(class="normal-text", value=name_to_update.about_author) }} <br />
        <textarea name="about_author" class="input normal-text">{{ name_to_update.about_author }}</textarea>
        <br />


        {{form.submit(class="button-set normal-text") }}

        <a href="{{ url_for('Users_BP.apagarUtilizador', id=id)}}" class="button-danger">Delete</a>


    </form>
</div>

<script src="/static/js/file-input.js"></script>
{% endblock %}