{% extends 'base.html' %}

{% block head %}
    
    {% block title %} <title>Index!</title> {% endblock %}
    <!-- Our CSS-->
    {% block css %}<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> {% endblock %}

{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}

{% if id == current_user.id %}
    <h1>Update User</h1>
        
    <br />
    <p class="page-title"> Preencha todos os dados para se Registar</p>
     <div class="vertical-content fade-in" style="width: fit-content!important; margin:auto">
        <form action="/update/{{name_to_update.id}}" method="post" enctype="multipart/form-data" class="content">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="normal-text") }}
            {{ form.name(class="input normal-text", value=name_to_update.name) }}
            <br />
            {{ form.username.label(class="normal-text") }}
            {{ form.username(class="input normal-text", value=name_to_update.username) }}
            <br />
            {{ form.email.label(class="normal-text") }}
            {{ form.email(class="input normal-text", value=name_to_update.email) }}
            <br />
            {{ form.favorite_color.label(class="normal-text") }}
            {{ form.favorite_color(class="input normal-text", value=name_to_update.favorite_color) }}
            <br />
            {{ form.about_author.label(class="normal-text") }} <br />
            <textarea name="about_author" class="input normal-text"> {{ name_to_update.about_author }} </textarea>
            <br />
            {{ form.profile_pic.label(class="normal-text") }}
            {{ form.profile_pic(class="input normal-text", value=name_to_update.profile_pic) }}
            
            
            <br />
            {{form.submit(class="button-set normal-text") }}

            <a href="{{ url_for('Users_BP.delete', id=id)}}" class="button-danger">Delete</a>


            </form>
        </div>

{% else %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Sorry! You can´t Edit This User!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <h2>Acess Denied!</h2>
{% endif %}

{% endblock %}