{% extends 'base.html' %}

{% block head %}

{% block title %} <title>Criar Post!</title> {% endblock %}


{% endblock %}

{% block backButton %}<a href="{{ url_for('Posts_BP.Blog') }}" class="button-set button-back">Pagina Inicial</a>{%
endblock %}
{% block content %}

<div class="vertical-content ">
    <!-- Formulário -->
    <form method="post" id="form" class="content fade-in" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.title.label(class="normal-text") }}
        {{ form.title(class="input") }} </br>

        {{ form.slug.label(class="normal-text") }}
        {{ form.slug(class="input") }} </br>

        {{ form.post_pic.label(class="normal-text") }}
        {{ form.post_pic(class="file-input normal-text", value=post_pic) }}


        {{ form.content(class="input", rows="20") }}
        <br>
        {{form.submit(class="button-set form-text") }}
    </form>
    <!-- Editor de texto API (ckeditor)-->
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}

</div>

{% endblock %}