{% extends 'base.html' %}

{% block head %}

{% block title %} <title>Index!</title> {% endblock %}


{% endblock %}


{% block content %}


{% if current_user.is_authenticated %}
<a href="{{ url_for('Posts_BP.posts') }}" class="button-set">Back</a>
<div class="vertical-content ">

    <form method="post" id="form" class="content fade-in" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.title.label(class="normal-text") }}
        {{ form.title(class="input") }} </br>

        {{ form.slug.label(class="normal-text") }}
        {{ form.slug(class="input") }} </br>

        {{ form.post_pic.label(class="normal-text") }}
        {{ form.post_pic(class="file-input normal-text", value=post_pic) }}


        {{ form.content(class="input", rows="20") }}

        {{form.submit(class="button-set form-text") }}
    </form>

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}

</div>

{% else %}
<h1>Must Be Logged In...</h1>
<p>Sorry, You must be logged in to access this page!</p>
<a href="{{ url_for('Users_BP.login') }}">Login Here</a>
{% endif %}


{% endblock %}