{% extends 'base.html' %}

{% block head %}

{% block title %} <title>Blog</title> {% endblock %}
<!-- Our CSS-->
{% block css %}

<style>
    .post_pic {
        display: block;
        max-width: 100%;
        max-height: 200px;
        margin-inline: auto;
        overflow: hidden;
    }

    .posts-title {
        display: flex;
        justify-content: center;
        font-size: 1.8em;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .post_Card {
        background-color: var(--box-bg);
        padding: var(--page-margin);
    }
</style>

{% endblock %}

{% endblock %}

{% block backButton %}<a href="{{ url_for('Posts_BP.Blog') }}" class="button-set button-back">Pagina
    Inicial</a> {% endblock %}




{% block content %}
<form method="Post" action="{{ url_for('Posts_BP.search')}}" class="pesquisa">
    {{ form.hidden_tag()}}
    <input class="input" type="search" name="searched" placeholder="Pesquisar" aria-label="Pesquisar">
    <button class="button-set" type="submit">Search</button>
</form>
<div class="column-content ">
    {% for post in posts %}
    <div class="content fade-in">
        <img src="{{ url_for('static', filename='images/Posts/' + post.post_pic )}}" class="post_pic" />
        <div class="post_Card">
            <a href="{{ url_for('Posts_BP.post', id=post.id) }}" class="posts-title normal-text">{{ post.title }}</a>
            <p class="normal-text"> {{ post.slug }}</p>
            <div class="buttons">
                <a href="{{ url_for('Posts_BP.post', id=post.id) }}" class="button-set">View Post</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>


{% endblock %}