{% extends 'base.html' %}

{% block head %}
    
    {% block title %} <title>Index!</title> {% endblock %}
    <!-- Our CSS-->
    {% block css %}<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> {% endblock %}

{% endblock %}


{% block content %}
<script src="/static/js/myfile.js"></script>
{% for message in get_flashed_messages() %}
<div class="Alerta fade-in" role="alert">
    {{message}}
    <button onclick="delete_message()" type="button" aria-label="Close">X</button> 
</div>      
{% endfor %}

    <p class="page-title">{{ post.title }}</p>
    <a href="{{ url_for('Posts_BP.posts') }}" class="button-set" style="margin-left:var(--page-margin)"  >Back</a>
    <div class=" post-content content">
        <p class="normal-text"> Date: {{ post.date_posted }}  </p> 
        <div class="post-safe">
            {{ post.content | safe }} 
        </div>
        <div class="profile-card">     
            {% if post.poster.profile_pic %}
                <img src="{{ url_for('static', filename='images/' + post.poster.profile_pic )}}" width="150" >
            {% else %}
                <img src="{{ url_for('static', filename='images/default_profile_pic.png')}}" width="150" >
            {% endif %}    
            <p class="normal-text">
                <b>{{ post.poster.name }}</b> <br>
                {% if post.poster.about_author %}
                    {{ post.poster.about_author }}
                {% else %}
                    Author has no about profile yet...
                {% endif %}
            </p>
    </div>
    

    <div class="buttons">
        
        {% if post.poster_id == current_user.id  %}
            <a href="{{ url_for('Posts_BP.edit_post', id=post.id) }}" class="button-alert">Edit Post</a>
            <a href="{{ url_for('Posts_BP.delete_post', id=post.id) }}" class="button-danger">Delete Post</a>
        {% endif %}
    </div>
</div>

   
{% endblock %}