{% extends 'base.html' %}

{% block head %}
    
    {% block title %} <title>Index!</title> {% endblock %}
    <!-- Our CSS-->
    {% block css %}<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> {% endblock %}

{% endblock %}




{% block content %}
<p class="page-title">Blog Posts</p>
<form method = "Post" action = "{{ url_for('Posts_BP.search')}}" class="pesquisa">
    {{ form.hidden_tag()}}
    <input class="input" type="search" name = "searched" placeholder="Pesquisar" aria-label="Pesquisar"> 
    <button class="button-set" type="submit">Search</button> 
  </form> 
<div class="column-content ">
{% for post in posts %}
    <div class="content fade-in">
    

    <a href="{{ url_for('Posts_BP.post', id=post.id) }}" class="posts-title"  >{{ post.title }}</a>
    <img src="{{ url_for('static', filename='images/' + post.post_pic )}}" class="post_pic" /> 
    
    <p class="normal-text"> {{ post.slug }}</p>
    <div class="buttons">
    <a href="{{ url_for('Posts_BP.post', id=post.id) }}" class="btn-posts button-set btn-text">View Post</a>
    {% if post.poster_id == current_user.id  or current_user.id == 11 %}
        <a class="button-alert" href="{{ url_for('Posts_BP.edit_post', id=post.id) }}" >Edit Post</a>
        <a class="button-danger" href="{{ url_for('Posts_BP.delete_post', id=post.id) }}" >Delete Post</a>
    {% endif %}
    </div>
</div>
{% endfor %}

</div>


{% endblock %}